{% extends 'base.html.twig' %}

{% block title %}Target index{% endblock %}

{% block body %}
    <h1>Bénéficiaires :</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>IBAN</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for target in targets %}
            <tr>
                <td>{{ target.name }}</td>
                <td>{{ target.IBAN }}</td>
                <td>
                    <a href="{{ path('target_edit', {'id': target.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de bénéficiaires</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('target_new') }}">Ajouter un bénéficiaire</a>
{% endblock %}
