{% extends 'base.html.twig' %}

{% block title %}Transactions index{% endblock %}

{% block body %}
    <h1>Transactions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Montant</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.amount }}€</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('transactions_new') }}">Create new</a>
{% endblock %}
